#
# AWS VARIABLES
#

# Parameters needed to deploy the main stack (and the nested stacks that it triggers)
# Frontend stack is deployed seperatly as its independent from common resources (its only S3 and CloudFront)
STACK_TEMPLATES_S3_BUCKET_NAME= # Name of the S3 bucket containing nested stack templates

EC2_KEY_PAIR_NAME= # Name of the key pair used to then ssh into instances

API_ECR_REPOSITORY_NAME= # example: api/api

POLLER_ECR_REPOSITORY_NAME= # example analysis-model/poller
ANALYSIS_MODEL_ECR_REPOSITORY_NAME= # example analysis-model/model

DOMAIN_NAME= # Your custom domain name for the API ALB
HOSTED_ZONE_ID= # Id of the domain hosted zone to create validation CNAME record for the ACM certificate for the ALB
