#
# APP VARIABLES
#
NODE_ENV= # development | test | production
SQS_QUEUE_URL= # To get messages with the video path (create one in the console to test in dev mode, in deployment its provided to the task in CloudFormation)